<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/style.css">
</head>

<body>
  <div class="container">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <br>
      <p>
        <a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape new Mars data</a>
      </p>
    </div>

    <div class= 'container'>
      <div class="row">
        <div class="col-md-12">
          <h2>Latest Mars News</h2>
          <ul>
            {% for result in x.news_titles, x.news_paras %}
            <li class = 'titles' style="color:blue">{{ result[0] }}</li>
            <li> {{ result[1] }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

    <div class='container'>
      <div class='row'>
        <div class = 'col-md-4 big-box'>
          <h2>Featured Mars Image</h2>
          <img src='{{x.featured_image_url}}'>
        </div>
        <div class = 'col-md-8'>
          <div class = 'row medium-box'>
            <h3>Current weather on Mars</h3>
            <br>
            <p>{{x.mars_weather}}</p>
          </div>
          <div class = 'row medium-box table_mars'>
            <h3>Mars Facts</h3>
            {{x.html_table}}
          </div>
        </div>
      </div>
    </div>

    <div class = 'container'>
      <br>
      <h2>Mars Hemispheres</h2>
      <div class ='row'>
        <div class = 'col-md-6 big-box'>
          <h3>{{x.mars_hemispheres_img[0]['title']}}</h3>
          <img src="{{x.mars_hemispheres_img[0]['img_url']}}">
        </div>
        <div class = 'col-md-6 big-box'>
          <h3>{{x.mars_hemispheres_img[1]['title']}}</h3>
          <img src="{{x.mars_hemispheres_img[1]['img_url']}}">
        </div>
      </div>
      <div class = 'row'>
        <div class = 'col-md-6 big-box'>
          <h3>{{x.mars_hemispheres_img[2]['title']}}</h3>
          <img src="{{x.mars_hemispheres_img[2]['img_url']}}">
        </div>
        <div class = 'col-md-6 big-box'>
          <h3>{{x.mars_hemispheres_img[3]['title']}}</h3>
          <img src="{{x.mars_hemispheres_img[3]['img_url']}}">
        </div>
      </div>
    </div>

</body>

</html>